TEST8B.png filter=lfs diff=lfs merge=lfs -text
TEST8.png filter=lfs diff=lfs merge=lfs -text
T8C0E0.JLS filter=lfs diff=lfs merge=lfs -text
T8C1E0.JLS filter=lfs diff=lfs merge=lfs -text
T8C2E0.JLS filter=lfs diff=lfs merge=lfs -text
T8NDE3.JLS filter=lfs diff=lfs merge=lfs -text
T16E3.png filter=lfs diff=lfs merge=lfs -text
TEST8GR4.png filter=lfs diff=lfs merge=lfs -text
TEST8R.png filter=lfs diff=lfs merge=lfs -text
T8C1E3.JLS filter=lfs diff=lfs merge=lfs -text
TEST8BS2.png filter=lfs diff=lfs merge=lfs -text
T16E3.JLS filter=lfs diff=lfs merge=lfs -text
T8C0E3.JLS filter=lfs diff=lfs merge=lfs -text
T8C2E3.JLS filter=lfs diff=lfs merge=lfs -text
T8NDE0.JLS filter=lfs diff=lfs merge=lfs -text
T8SSE0.JLS filter=lfs diff=lfs merge=lfs -text
T8SSE3.JLS filter=lfs diff=lfs merge=lfs -text
TEST16.png filter=lfs diff=lfs merge=lfs -text
TEST8G.png filter=lfs diff=lfs merge=lfs -text
T16E0.JLS filter=lfs diff=lfs merge=lfs -text
